<%= content_for :title, 'About Yelpzy' %>
<h3>About YELPZY</h3>
<p>YELPZY is a Yelp.com clone built as a week exercise at
  <%= link_to 'Makers Academy Sweden', 'http://www.makersacademysweden.se' %>. This is not a commercial application
  so we hope no one will be upset with us or sue us for copyright infringement. </p>